* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

/* Styles for Welcome Page */

.welcome-page {
    background: linear-gradient( rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)), url("https://images.fineartamerica.com/images-medium-large-5/the-cluttered-attic-steve-crisp.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 2px solid red;
}

.main-window {
    padding-left: 5px;
    padding-right: 5px;
    background-color: #f9f9f9;
    border: 1px solid blue;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    color: black;
}

h1 {
    color: #024C24;
    padding: 10px 0;
    margin-bottom: 10px;
    font-size: 50px;
    font-family: 'Walter Turncoat', cursive;
}

.banner-text {
    color: #021D59;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

button {
    background-color: #4CAF50;
    padding: 6px 8px 6px 8px;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 6px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.feature-description {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.features p {
    display: inline-block;
}

.log-in-container,
.register-container {
    width: 60%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid black;
    background-color: white;
    border-radius: 3px;
}

.log-in-text,
.register-text {
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    color: #525654;
}

.user-info {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
}

#username,
#password,
#email {
    display: block;
    margin-bottom: 15px;
    width: 70%;
    height: 55px;
    border: 2px solid #c4c6c5;
    border-radius: 5px;
    padding: 15px;
}

.log-in-button,
.register-button {
    margin-top: 15px;
    width: 70%;
    margin-bottom: 50px;
    height: 55px;
    background-color: #35ce59;
    text-decoration-color: white;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

/*welcome-page end*/

/*Items page, Places page styles*/

.topnav {
    overflow: hidden;
    background-color: #3E606F;
    line-height: 90px;
    width: 100%;
}

.nav-logo {
    vertical-align: middle;
    display: inline-block;
    line-height: normal;
    padding: 3px 5px;
}

.nav-list {
    vertical-align: middle;
    display: inline-block;
    line-height: normal;
    padding: 3px 5px;
    float: right;
    margin-top: 30px;
    margin-right: 10px;
}

.nav-logo h2 {
    font-size: 26px;
    color: #F5AB35;
    font-family: 'Walter Turncoat', cursive;
    margin-left: 10px;
}

.nav-list span {
    color: #f2f2f2;
    font-size: 17px;
    display: inline-block;
    padding: 5px 5px;
}

.sidenav {
    z-index: 1000;
    background-color: #90A89B;
    padding: 10px 10px;
    text-align: center;
}

.sidenav button {
    display: inline-block;
    background-color: #34515E;
    color: #E0FFFF;
    height: auto;
    padding: 10px 15px;
    width: 18.6%;
}

.sidenav button:hover {
    color: red;
}

.content-area,
.content-area-places {
    background-color: #D1DBBD;
}

/*Items Page Properties*/

.welcome-user-page {
    margin-top: 20px;
}

.entity-heading {
    display: block;
    text-align: center;
    font-size: 42px;
    color: #E63022;
}

.items-menu,
.places-menu {
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.items-menu-buttons,
.places-menu-buttons {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.items-menu-buttons button,
.places-menu-buttons button {
    width: 120px;
    height: 50px;
}

.create-new-button {
    display: inline-block;
    background-color: #40806A;
    color: white;
    float: left;
}

.show-all-button {
    display: inline-block;
    background-color: #40806A;
    color: white;
    /* width: 15%;
    height: 100%;*/
}

.items-content,
.places-content {
    padding: 5px 5px;

}

#item-lookup-form {
    display: block;
    margin-top: 50px;
}

#item-lookup-form span {
    font-size: 20px;
}

#searchfield {
    border: none;
    border-bottom: 3px solid gray;
    border-radius: 0px;
    padding: 8px 0;
    -webkit-font-smoothing: antialiased;
    background: none;
    width: 200px;
    font-size: 20px;
}

#search-item,
#search-place {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.items-result,
.places-result {
    text-align: center;
}


.all-items-table {
    margin: 1em 0;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.all-items-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.all-items-table th {
    display: none;
}

.all-items-table td {
    display: block;
}

.all-items-table td:first-child {
    padding-top: 0.5em;
}

.all-items-table td:last-child {
    padding-bottom: 0.5em;
}

.all-items-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}

.all-items-table th,
.all-items-table td {
    text-align: left;
}

.all-items-table {
    background: #5d6883;
    color: #fff;
    border-radius: 0.4em;
    overflow: hidden;
}

.all-items-table tr {
    border-color: #46637f;
}

.all-items-table th,
.all-items-table td {
    margin: 0.5em 1em;
}

.all-items-table th,
.all-items-table td:before {
    color: #dd5;
}

.move-item-popup,
.create-item-popup,
.delete-item-popup {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid brown;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #cc5c47;
    border-radius: 8px;
    padding: 10px 10px;
}

.move-item-popup *,
.create-item-popup *,
.delete-item-popup * {
    margin-top: 20px;
    margin-bottom: 20px;
}

.move-item-popup h3,
.create-item-popup h3 {
    color: #0C2231;
    font-weight: 500;
    font-size: 18px;
}

.create-item-popup label,
.move-item-popup label {
    display: inline-block;
}


.js-item-popup-list select {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.create-item-popup input,
.create-item-popup select,
.move-item-popup select {
    width: 50%;
    margin-left: 10px;
}

.save-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.single-item-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.item-options-container {}

.single-item-container .all-items-table {
    margin-bottom: 0px;
}

.item-options-container button {
    display: inline-block;
}

/*Styles for places page*/

.places-list-all {
    list-style: none;
    border: 1px solid black;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.places-list-all li {
    color: #551700;
    font-size: 18px;
    border: 1px solid #551700;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #e7ca33;
    font-weight: 500px;
}

/*Media Queries*/

/*ipad landscape / small laptop*/

@media only screen and (max-width: 1024px) {
    body {
        color: blue;
    }
}


/*ipad potrait*/

@media only screen and (max-width: 768px) {
    body {
        color: red;
    }
    .items-menu-buttons {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 15px;
    }
    .items-menu-buttons button {
        width: 100%;
        height: 50px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
    }
    .create-new-button,
    .show-all-button {
        display: block;
    }
    .log-in-container,
    .register-container {
        width: 100%;
    }

    .create-item-popup label,
    .move-item-popup label,
        {
        display: block;
    }

    .create-item-popup input,
    .create-item-popup select {
        width: 50%;
    }

    .move-item-popup,
    .create-item-popup {
        width: 80%;
    }

    .delete-item-popup {
        width: 60%;
    }
}


/*iPhone landscape*/

@media only screen and (max-width: 480px) {
    body {
        color: green;
    }
    #username,
    #password,
    #email {
        width: 100%;
    }
    .log-in-container button,
    .register-container button {
        width: 100%;
    }
    .main-window {
        width: 100%;
    }

    .sidenav button {
        display: inline-block;
        background-color: #34515E;
        color: #E0FFFF;
        height: auto;
        padding: 10px 15px;
        width: 100%;
    }

    .delete-item-popup {
        width: 70%;
    }
}


/*iPhone portrait*/

@media only screen and (max-width: 320px) {
    body {
        color: purple;
    }
}

/*Table Styles*/

@media (min-width: 480px) {
    .all-items-table td:before {
        display: none;
    }
    .all-items-table th,
    .all-items-table td {
        display: table-cell;
        padding: 0.25em 0.5em;
    }
    .all-items-table th:first-child,
    .all-items-table td:first-child {
        padding-left: 0;
    }
    .all-items-table th:last-child,
    .all-items-table td:last-child {
        padding-right: 0;
    }
    .all-items-table th,
    .all-items-table td {
        padding: 1em !important;
    }
}
